.btn-minimalista {
    width: auto;
    height: 40px;
    padding: 0 10px; 
    border-radius: 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}


.btn-minimalista:hover {
    background-color: #0056b3;
}

.btn-minimalista i {
    font-size: 20px;
}

.btn-text {
    text-align: left;
  }

  .icon {
    margin-right: 10px;
  }
  